<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Vansah-Selenium-Integration">
	<test thread-count="5" name="VansahJavaBindingDemo">
		<classes>
			<class name="testcases.PositiveScenario"/>
			<class name="testcases.NegativeScenario"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
